* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0px;
}

.background {
  width: 380vh;
  height: 100vh;
}

.background::after {
  content: "";
  background-image: url(../images/fog-forest.jpg);
  background-position: 20% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.clock {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  padding: 1.5rem;
  margin: auto;
  top: 15%;
  left: 37.5%;
}


.clock-face {
  height: 100%;
  width: 100%;
}

.hand {
  background-color: black;
  height: 6px;
  width: 126px;
  position: absolute;
  transform-origin: 100%;
  top: 50%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 0 10px 10px 0;
}

.hour-hand {
  width: 30%;
  right: 50%;
}

.sec-hand {
  height: 2px;
}

.hoverButton {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 0.8rem;
  border: 2px solid white;
  position: absolute;
  top: 80%;
  left: 44.5%;
}

.hoverButton:hover {
  background-color: darkgreen;
}

.displayBox {
  height: 30%;
  width: 50%;
  display: none;
  position: absolute;
  margin: 0 auto;
  background-color: rgba(34,139,34, 0.3);
  border-radius: 10px;
  font-size: 3rem;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px #000;
  text-align: center;
  top: 25%;
  left: 25.5%;
}

.displayTime {
  line-height: 180px;
}
